<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pulse Fit</title>
    <link rel="icon" href="{{ url_for('static', filename='images/logo.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/gym.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/trainer_dashboard.css') }}">

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    


</head>
<body>

    <header>
        <figure class="logo">
            <img src="{{ url_for('static', filename='images/logo-white.png') }}" alt="" >
        </figure>
        <nav class="main-nav">
            <ul class="sidebar">
                <li onclick=hideSidebar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="26px" viewBox="0 -960 960 960" width="26px" fill="#e8eaed"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></a></li>
                <li><a href="#home">Home</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#trainers">Trainers</a></li>
                <li><a href="#pricing">Pricing</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="{{ url_for('trainer_dashboard') }}"></li>Dashboard</a></li>
                {% if 'user_id' in session %}
                    <li><a href="{{ url_for('profile') }}">Profile</a></li>
                    {% if session['role'] == 'Trainer' %}
                        <li><a href="{{ url_for('trainer_dashboard') }}">Manage Students</a></li>
                    {% endif %}
                {% else %}
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                {% endif %}
                
            </ul>

            <ul>
                <li class="hideOnMobile"><a href="#home">Home</a></li>
                <li class="hideOnMobile"><a href="#services">Services</a></li>
                <li class="hideOnMobile"><a href="#about">About</a></li>
                <li class="hideOnMobile"><a href="#trainers">Trainers</a></li>
                <li class="hideOnMobile"><a href="#pricing">Pricing</a></li>
                <li class="hideOnMobile"><a href="#contact">Contact</a></li>
                <li><a href="{{ url_for('trainer_dashboard') }}"></li>Dashboard</a></li>
                {% if 'user_id' in session %}
                    <li class="hideOnMobile"> <a href="{{ url_for('profile') }}">Profile</a></li>
                    {% if session['role'] == 'Trainer' %}
                        <li class="hideOnMobile"><a href="{{ url_for('trainer_dashboard') }}">Manage Students</a></li>
                    {% endif %}
                {% else %}
                    <li class="hideOnMobile"><a href="{{ url_for('login') }}">Login</a></li>
                {% endif %}
                <li class="menu-button" onclick=showSidebar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="26px" viewBox="0 -960 960 960" width="26px" fill="#e8eaed"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg></a></li>
            </ul>
        </nav>
    </header> 




    <main>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% block content %}
        
        
        {% endblock %}
    </main>


    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init({
            offset: 300,
            duration: 1400,
        });
    </script>
    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
    <script src="script.js"></script>



</body>
</html>